.searchPage {
    margin: 12rem 18rem;

    @media (max-width: 1280px) {
        margin: 9.2rem 4rem 10rem;
    }

    @media (max-width: 1024px) {
        margin: 7rem 1rem;
    }

    & main {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 25% 75%;
        gap: 3rem;
        position: relative;

        @media (max-width: 1280px) {
            grid-template-columns: 22% 78%;
            margin-top: 4rem;
        }

        @media (max-width: 640px) {
            grid-template-columns: 100%;
        }

        & aside {
            position: sticky;
            top: 15%;
            align-self: start;

            @media (max-width: 1280px) {
                top: 17%
            }

            @media (max-width: 640px) {
                display: none;
            }
        }
    }
}

.topFilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.filterBy {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.filterButton {
    &:hover {

        & p,
        & svg {
            color: rgb(105, 0, 0);
        }
    }
}