.menuDropDown {
    background: rgba(255, 0, 0, 0.863);
    -webkit-backdrop-filter: blur(23px);
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff0d;

    width: 100vw;
    height: 80dvh;
    position: absolute;
    top: 190%;
    left: -24%;
    padding: 1rem;
    z-index: 9999;
    color: white;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    @media (max-width: 768px) {
        top: 218%;
        width: 48vw;
        height: 61dvh;
    }
}