.signature {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: end;

    & img {
        height: 4.5rem;

        @media (max-width: 1280px) {
            height: 3rem;
        }

        @media (max-width: 640px) {
            height: 3rem;
        }
    }
}