.about {
    margin-block: 15rem 15rem;
    margin-inline: 12rem 8rem;
    display: flex;
    position: relative;

    @media (max-width: 1280px) {
        margin-block: 0;
        margin-inline: 4rem 6rem;
    }

    @media (max-width: 640px) {
        position: relative;
        display: grid;
        margin-inline: 1rem;
    }

    &_image {
        width: 50rem;
        height: 44rem;
        background: #80808020 url('/images/about.webp') top center;

        @media (min-width: 769px) and (max-width: 1266) {
            width: 34rem;
            height: 33rem;
        }

        @media (min-width: 1267) and (max-width: 1280px) {
            width: 37rem;
            height: 33rem;
        }

        @media (max-width: 640px) {
            width: 90%;
            height: 22rem;
            margin-inline: auto;
            position: relative;
            bottom: -4rem;
        }
    }

    &_content {
        width: 50rem;
        background: rgba(128, 128, 128, .125);
        padding: 11rem 8rem 11rem 12rem;
        position: absolute;
        top: -5rem;
        right: 5rem;

        @media (max-width: 1280px) {
            width: 40rem;
            top: -4rem;
            right: -2rem;
            padding: 5rem 5rem 5rem 7rem;
        }

        @media (max-width: 640px) {
            width: 100%;
            position: relative;
            top: 0;
            right: 0;
            padding: 6rem 2.2rem 2.2rem 2.5rem;
        }

        & h1 {
            font-size: 2em;
            font-weight: 700;
            line-height: 2.6rem;
            margin-bottom: 1rem;

            @media (max-width: 1280px) {
                font-size: 1.7em;
                line-height: 2rem;
            }

            @media (max-width: 640px) {
                font-size: 1.4em;
                line-height: 1.58rem;
                margin-bottom: 1.4rem;
            }
        }

        & p:not(:first-of-type) {
            margin-top: .8rem;

            @media (max-width: 640px) {
                margin-top: 1.3rem;
            }
        }
    }
}