.about {
    margin-block: 15rem 15rem;
    margin-inline: 12rem 8rem;
    display: flex;
    position: relative;

    &_image,
    &_content {
        width: 50rem;
    }

    &_image {
        height: 44rem;
        background: #80808020 url('/images/about.webp');
    }

    &_content {
        background: rgba(128, 128, 128, .125);
        padding: 11rem 8rem 11rem 12rem;
        position: absolute;
        top: -5rem;
        right: 5rem;

        & h1 {
            font-size: 2em;
            font-weight: 700;
            line-height: 2.6rem;
            margin-bottom: 1rem;
        }

        & p:not(:first-of-type) {
            margin-top: 0.8rem;
        }
    }
}