.brandsSection {
    width: 70%;
    margin: 0 auto 20rem;
    text-align: center;

    @media (max-width: 1280px) {
        width: 90%;
        margin-block: 0 15rem;
    }

    @media (max-width: 640px) {
        margin-block: 0 7rem;
    }

    &__category {
        color: red;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: .2rem;
        text-transform: uppercase;

        @media (max-width: 640px) {
            font-size: .8rem;
        }
    }

    & h1 {
        font-size: 2em;
        margin-top: .5rem;
        font-weight: 700;

        @media (max-width: 1280px) {
            margin-top: .1rem;
            font-size: 1.8em;
        }

        @media (max-width: 640px) {
            margin-top: .1rem;
            font-size: 1.4em;
        }
    }

    &__description {
        font-size: 1.2rem;
        width: 60%;
        margin: 1rem auto;
        font-size: 1.2rem;

        @media (max-width: 1280px) {
            margin: .6rem auto;
            font-size: 1rem;
        }

        @media (max-width: 640px) {
            width: 88%;
            font-size: .976rem;
        }
    }

    & ul {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;

        @media (max-width: 1280px) {
            margin-top: 4.2rem;
        }

        @media (max-width: 640px) {
            display: grid;
            justify-content: center;
            gap: 3rem;
        }

        & img {
            height: 3rem;
            object-fit: contain;
            filter: grayscale(100%);
            transition: filter .3s;

            @media (max-width: 1280px) {
                height: 2rem;
            }

            @media (max-width: 640px) {
                height: 2.2rem;
                justify-self: center;
            }

            &:hover {
                filter: none;
            }
        }

        & .blackBullBrand {
            height: 4rem;

            @media (max-width: 640px) {
                height: 3.9rem;
            }
        }

        & .nplBrand {
            height: 3.6rem;

            @media (max-width: 640px) {
                height: 3.8rem;
            }
        }

        & .nutriTBrand {
            height: 3rem;

            @media (max-width: 640px) {
                height: 2.8rem;
            }
        }

        @media (max-width: 640px) {
            .vitaTBrand {
                height: 1.7rem;
            }
        }
    }
}