.end {
    margin-block: 15rem 15rem;
    margin-inline: 8rem 12rem;
    display: flex;
    justify-content: flex-end;
    position: relative;

    &_image,
    &_content {
        width: 50rem;
    }

    &_image {
        height: 44rem;
        background: #80808020 url('/images/performance.webp') top/cover no-repeat;
    }

    &_content {
        background: rgba(128, 128, 128, .125);
        padding: 11rem 12rem 11rem 8rem;
        position: absolute;
        top: -5rem;
        left: 5rem;
        z-index: 2;

        & h1 {
            font-weight: 700;
            line-height: 2.6rem;
            margin-bottom: 1rem;
        }

        & p:not(:first-of-type) {
            margin-top: 0.8rem;
        }
    }
}