.gallery {
    width: 100%;
    height: 80dvh;
    margin-bottom: 19rem;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;

    & div {
        &:first-child {
            grid-row: span 3 / span 3;
            background: url('/images/arnould-s.webp') top center;
            background-size: cover;
        }

        &:nth-child(2) {
            grid-row: span 2 / span 2;
            grid-column-start: 1;
            grid-row-start: 4;
            background: url('/images/franco-columbu.webp') top center;
            background-size: cover;
        }

        &:nth-child(3) {
            grid-row: span 3 / span 3;
            grid-column-start: 2;
            grid-row-start: 3;
            background: url('/images/kevin-l.webp') top center;
            background-size: cover;
        }

        &:nth-child(4) {
            grid-row: span 2 / span 2;
            grid-column-start: 2;
            grid-row-start: 1;
            background: url('/images/jay-c.webp') top center;
            background-size: cover;
        }

        &:nth-child(5) {
            grid-row: span 5 / span 5;
            grid-column-start: 3;
            grid-row-start: 1;
            background: url('/images/ronnie-c.webp') top center;
            background-size: cover;
        }

        &:nth-child(6) {
            grid-row: span 3 / span 3;
            grid-column-start: 5;
            grid-row-start: 1;
            background: url('/images/phil-heath.webp') top center;
            background-size: cover;
        }

        &:nth-child(7) {
            grid-row: span 2 / span 2;
            grid-column-start: 5;
            grid-row-start: 4;
            background: url('/images/frank-zane.webp') top center;
            background-size: cover;
        }

        &:nth-child(8) {
            grid-row: span 3 / span 3;
            grid-column-start: 4;
            grid-row-start: 3;
            background: url('/images/cbum.webp') top center;
            background-size: cover;
        }

        &:last-child {
            grid-row: span 2 / span 2;
            grid-column-start: 4;
            grid-row-start: 1;
            background: url('/images/dorian-yates.webp') top center;
            background-size: cover;
        }
    }
}