.gridCategory {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    height: 67dvh;
    margin: 10rem;
    display: grid;

    & div {
        &:first-child {
            grid-row: span 2 / span 2;
            background-color: rgb(255, 140, 0);
        }

        &:nth-child(2) {
            grid-row: span 2 / span 2;
            grid-column-start: 1;
            grid-row-start: 3;
            background-color: aqua;
        }

        &:nth-child(3) {
            grid-row: span 2 / span 2;
            grid-column-start: 2;
            grid-row-start: 1;
            background-color: rgb(43, 255, 0);
        }

        &:nth-child(4) {
            grid-row: span 2 / span 2;
            grid-column-start: 2;
            grid-row-start: 3;
            background-color: rgb(187, 0, 255);
        }

        &:last-child {
            grid-row: span 4 / span 4;
            grid-column-start: 3;
            grid-row-start: 1;
            background-color: rgb(0, 8, 255);
        }
    }
}