.heroCarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100dvh;

    &__slides {
        display: flex;
        transition: transform 0.7s ease-in-out;
    }

    &__slide {
        position: relative;
        min-width: 100%;
        height: 100%;

        @media (min-width: 768px) {
            height: 100dvh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.525) 20%, rgba(0, 0, 0, 0) 100%);
    }

    &__content {
        max-width: 40%;
        padding: 3rem;
        color: white;

        position: absolute;
        top: 50%;
        left: 2%;
        transform: translateY(-50%);

        & h5 {
            font-weight: 500;
            font-size: 1.1rem;
        }

        & h2 {
            font-size: 4.6rem;
            line-height: 5.3rem;
        }

        & p {
            margin-top: 0.8rem;
            font-size: 1.5rem;
        }
    }

    &__button {
        margin-top: 2.5rem;
        display: inline-block;
        background: white;
        color: #250609;
        padding: 0.6rem 1rem;
        border-radius: 0rem;
        transition: background 0.3s ease;

        & span {
            text-decoration: none;
            font-weight: 500;
            font-size: 1.2rem;
        }

        &:hover {
            background: rgb(231, 231, 231);
        }
    }

    &__nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.7);
        padding: 0.5rem 1rem;
        border-radius: 50%;
        cursor: pointer;
        font-size: 1.5rem;
        line-height: 1;
        border: none;
        transition: background 0.3s;

        &:hover {
            background: rgba(255, 255, 255, 0.9);
        }

        &--prev {
            left: 1rem;
        }

        &--next {
            right: 1rem;
        }
    }

    &__indicators {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 0.5rem;

        .heroCarousel__indicator {
            width: 1.7rem;
            height: 0.1rem;
            border-radius: 1px;
            background: #9ca3af;
            border: none;
            cursor: pointer;
            transition: background 0.3s;

            &.active {
                background: #fff;
            }
        }
    }
}