$solidBorder: 1px solid #e7e7e7;

.nav {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;

    &_inform {
        background-color: #f2e1df;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: .4rem 2rem .4rem 1rem;
        display: flex;

        & p,
        & div {
            font-size: .9rem;
            color: black;
            display: flex;
            align-items: center;
            gap: .3rem;

            svg {
                width: 1rem;
            }
        }
    }

    &_bar {
        background: #D91807 url('/images/red-cloud.webp') no-repeat center center;
        background-size: cover;
        padding: .4rem 2rem .4rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--firstChild {
            display: flex;
        }

        &--category {
            display: flex;
        }

        &--logo {
            margin-top: .5rem;
            width: 9rem;
        }

        &__aside {
            display: flex;
            align-items: center;
            gap: 1.2rem;

            &--inputContainer {
                display: flex;
                gap: .7rem;
                align-items: center;
                background-color: white;
                border-radius: 3rem;
                width: 24rem;
                padding: .2rem .8rem .2rem .4rem;

                @media (max-width: 1280px) {
                    width: 19rem;
                }

                svg {
                    stroke: #3d0a0f;
                    width: 1.5rem;
                }

                input {
                    flex: 1;
                    border: none;
                    outline: none;
                    padding: .3rem;
                    font-size: 1rem;
                }
            }

            & p,
            & .userAction {
                cursor: pointer;
                user-select: none;
                color: white;
                display: flex;
                align-items: center;
                gap: .3rem;
                transition: all .2s ease;

                svg {
                    width: 1rem;
                }

                &:hover {
                    color: rgb(236, 236, 236);
                }
            }

            & .userAction {
                & p {
                    position: relative;

                    & span {
                        display: flex;
                        justify-content: center;
                        position: absolute;
                        top: -26%;
                        right: -19%;
                        background-color: white;
                        color: red;
                    }
                }
            }
        }

        &__categories {
            position: relative;
            margin-left: 2rem;

            &-btn {
                color: white;
                font-size: 1rem;
                font-weight: 500;
                text-align: start;

                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: .5rem;
                background: none;
                border: none;
                cursor: pointer;

                & svg {
                    width: .8rem;
                    height: .8rem;
                }
            }

            &-list {
                display: flex;
                gap: 1rem;
                list-style: none;

                .nav_bar__category-item {
                    position: relative;
                }

                li {
                    border-radius: .3rem;
                    margin-inline: .4rem;

                    padding: .5rem 1rem;
                    transition: background .2s;

                    a {
                        color: white;
                        display: block;
                        text-decoration: none;
                    }
                }
            }
        }

        &__products-list,
        &__products-list.nav_bar__products-list--right {
            background: rgba(255, 0, 0, .767);
            -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
            border: 1px solid rgba(255, 0, 0, .35);

            box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
            z-index: 20;
            min-width: 220px;
            padding: .5rem 0;
            border-radius: 4px;
            list-style: none;
            position: absolute;
            top: 110%;
            left: 0;

            li {
                padding: .5rem .6rem;
                transition: background .2s;

                &:hover {
                    background: #c01506;
                }

                a {
                    color: white;
                    display: block;
                    text-decoration: none;
                }
            }
        }

        &__products-list.nav_bar__products-list--right {
            top: .6rem;
            left: 100%;
            margin-left: .2rem;
            z-index: 999;
        }

        &__search-dropdown {
            position: absolute;
            top: 110%;
            left: 0;
            width: 100%;
            background: #fff;
            border: 1px solid #eee;
            box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
            z-index: 100;
            list-style: none;
            padding: 1rem;
            margin: 0;
            border-radius: 0 0 8px 8px;

            h5,
            h6 {
                font-size: 1rem;
                font-weight: 600;
            }

            h5 {
                padding-bottom: .8rem;
                border-bottom: $solidBorder;
            }

            h6 {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .withProducts {
                padding-top: .8rem;
                border-top: $solidBorder;

            }

            .noProducts {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            li {
                display: flex;
                padding: .5rem 1rem;
                gap: .7rem;
                cursor: pointer;
                border-radius: .3rem;
                transition: background .2s;

                &:hover {
                    background: #f5f5f5;
                }

                a {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    color: #222;
                    text-decoration: none;
                    gap: .7rem;

                    div {
                        display: grid;
                        justify-content: space-between;

                        span {
                            @media (max-width: 1280px) {
                                font-size: .92rem;
                            }

                            &:nth-child(2) {
                                color: #D91807;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            .searchProductImg {
                width: 3.6rem;
                height: 3.6rem;
                object-fit: contain;
                border-radius: 4px;
                margin-right: .7rem;
            }
        }
    }
}