.hero_inform {
    background-color: #d9180728;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: .4rem 1rem;
    display: flex;

    & p,
    a {
        font-size: 0.9rem;
        color: black;
        display: flex;
        align-items: center;
        gap: .3rem;

        & svg {
            width: 1rem;
        }
    }

}

.navBar {
    width: 100%;
    background: #D91807 url('/red-cloud.png') no-repeat center center;
    background-size: cover;
    padding: .4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & img {
        width: 9rem;
    }

    &__aside {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        &--inputContainer {
            display: flex;
            gap: 0.7rem;
            align-items: center;
            background-color: white;
            border-radius: 3rem;
            width: 24rem;
            padding: 0.2rem 0.8rem 0.2rem 0.4rem;

            svg {
                width: 1.5rem;
            }

            & input {
                flex: 1;
                border: none;
                outline: none;
                padding: 0.3rem;
                font-size: 1rem;
            }
        }

        & p {
            cursor: pointer;
            color: white;
            display: flex;
            align-items: center;
            gap: .3rem;

            & svg {
                width: 1rem;
            }
        }
    }
}