.productGallery {
    width: 55%;
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 12%;
    object-fit: contain;

    @media (max-width: 1280px) {
        width: 42%;
        top: 20%;
    }

    @media (max-width: 640px) {
        width: 100%;
        position: relative;
        top: 0;
    }

    &--main {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;

        @media (max-width: 1280px) {
            height: 400px;
        }

        @media (max-width: 640px) {
            width: 70%;
            height: 18rem;
            margin: auto;
        }
    }

    &__options {
        margin-top: 2rem;
        display: flex;
        gap: 1rem;

        @media (max-width: 640px) {
            justify-content: center;
        }
    }

    &__thumb {
        border: 1px solid transparent;
        padding: .3rem;
        width: auto;
        height: 7rem;
        cursor: pointer;
        transition: border .2s ease-in;

        @media (max-width: 1280px) {
            height: 5rem;
        }

        &--active {
            border: 1px solid #bebebe;
            cursor: not-allowed;
        }

        &--inactive {
            cursor: pointer;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }
}