.testimonials {
    &__grid {
        width: 70%;
        margin-top: -12rem;
        margin-inline: auto;
        margin-bottom: 15rem;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        @media (max-width: 1280px) {
            width: 90%;
            margin-top: -12rem;
            margin-bottom: 11rem;
        }
    }

    &__item {
        border: 1px solid rgba(169, 169, 169, .226);
        display: grid;
        justify-content: center;

        border-radius: .4rem;

        &--1 {
            padding: 3rem;
            grid-column: span 2 / span 2;
            grid-row: span 4 / span 4;
            gap: 2.5rem;
            border: none;

            & img {
                height: 2rem;
                object-fit: contain;
            }

            @media (max-width: 1280px) {
                padding: 3rem 3rem 3rem 0;
            }
        }

        &--2 {
            padding: 2rem;
            grid-column: span 2 / span 2;
            grid-row: span 2 / span 2;
            grid-column-start: 3;
            gap: 2rem;

            @media (max-width: 1280px) {
                gap: 1.7rem;
            }
        }

        &--1,
        &--2 {
            h1 {
                font-size: 1.3rem;
                font-weight: 500;

                @media (max-width: 1280px) {
                    font-size: 1.2rem;
                }
            }
        }

        &--3 {
            grid-row: span 2 / span 2;
            grid-column-start: 3;
            grid-row-start: 3;
        }

        &--4 {
            grid-row: span 2 / span 2;
            grid-column-start: 4;
            grid-row-start: 3;
        }

        &--3,
        &--4 {
            padding: 1.5rem;
            gap: 2rem;

            @media (max-width: 1280px) {
                gap: 1.6rem;

                & h1 {
                    font-size: .9rem;
                }
            }
        }
    }

    &__author {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__avatar {
        background-color: #2626261e;
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__info {
        display: grid;
        justify-content: center;
        font-size: .9rem;
    }

    &__name {
        font-style: italic;
        font-weight: 600;
    }
}