$font-family: var(--font-poppins),
sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: $font-family;
    color: #250609;
}

::selection {
    background-color: #ffb9c0;
}

a,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

input {
    font-family: inherit;
}

button {
    font-family: inherit;
    user-select: none;

    &:disabled {
        filter: brightness(90%);
        cursor: not-allowed;
    }
}