$font-family: var(--font-poppins),
sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: $font-family;
    color: #250609;
}

::selection {
    background-color: #ffb9c0;
}

a,
button,
label {
    cursor: pointer;
    color: inherit;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input {
    font-family: inherit;
}

button {
    border: none;
    font-family: inherit;
    user-select: none;
    font-size: inherit;

    &:disabled {
        filter: brightness(90%);
        cursor: not-allowed;
    }
}

.lightTag {
    background-color: #ffb9c0;
}

.darkTag {
    background-color: red;
}

.productPrice {
    display: flex;
    align-items: center;
    gap: .3rem;

    & p {
        font-weight: 600;
    }
}

.currentPrice {
    display: flex;
    align-items: center;
    gap: .7rem;

    & p {
        color: #c20303dd;
        font-weight: 600;
    }

    & span {
        text-decoration: line-through;
        color: rgb(155, 153, 153);
    }
}

.bordered {
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        bottom: .1em;
        left: 0;
        width: 100%;
        height: .3em;
        background-color: #ffb9c0;
        z-index: -1;
    }
}